#app-mount {
  // Search
  .container-3ayLPN {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);

    > .queryContainer-RKFJW- {
      border-bottom-color: var(--background-tertiary);
    
      &.focused-2bY0OD {
        background-color: var(--background-tertiary);
      }
    }

    .option-96V44q {
      &::after {
        background: transparent;
      }

      &.selected-rZcOL- {
        background-color: var(--background-secondary-alt);
      }
    }
  }

  .searchAnswer-3Dz2-q,
  .searchFilter-2ESiM3 {
    background-color: var(--background-accent);
  }

  // Datepicker
  .react-datepicker {
    background-color: var(--background-primary);

    &__navigation {
      &--next,
      &--previous {
        border-color: var(--background-tertiary);
      }
    }

    &__header {
      background-color: inherit;
    }

    &__day {
      border-color: var(--background-secondary-alt);

      &--disabled,
      &--outside-month {
        background-color: var(--background-secondary);
      }
    }
  }

  // Autocomplete
  .autocomplete-1vrmpx {
    background-color: var(--background-secondary-alt);

    .categoryHeader-O1zU94 {
      background-color: var(--background-tertiary);
    }

    .selected-1Tbx07 {
      background-color: var(--background-primary);
    }
  }

  // Powercord toasts
  .powercord-toast {
    --toast-background: var(--background-secondary);
    --toast-header: var(--background-tertiary);
    --toast-contents: var(--background-primary);
    --toast-box-shadow: rgba(0, 0, 0, 0.2);
    --toast-border: var(--background-secondary-alt);
  }
}