// Radio bars
.radioBar-bMNUI- {
  border-width: 4px;
}

// Webhook card, authorized app card, etc
.card-3Qj_Yx {
  background-color: var(--background-secondary);
}

// Careful - you have unsaved changes!
.elevationHigh-1PneE4 {
  background-color: var(--background-accent) !important;
}

// Logout tab
.item-PXvHYJ {
  &[style="color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"] {
    --background-modifier-hover: rgb(237, 66, 69, 0.1);
    --background-modifier-active: rgb(237, 66, 69, 0.25);
  }
}