.marginBottom40-2vIwTv {
  > .marginBottom4-2qk4Hy {
    &:first-child {
      display: none;
    }
  }

  .emojiRow-zIc7ZX {
    display: inline-flex;
    margin-right: 50px;

    &:hover {
      > .emojiUploader-1f0pVx {
        opacity: 1;
      }

      > .emojiImage-1hZi2F {
        opacity: 0;
      }
    }

    > .emojiUploader-1f0pVx {
      opacity: 0;
      position: absolute;
      transform: translateX(-11px);

      > .avatar-2Hubm8 {
        height: 32px !important;
      }
    }
  }
}